:root {
	--card-scale: 1.0;
	--card-width: calc(506px * var(--card-scale));
	--card-height: calc(702px * var(--card-scale));

	--card-font-size-name: calc(48px * var(--card-scale));
	--card-font-size-variant: calc(24px * var(--card-scale));
	--card-font-size-stat: calc(28px * var(--card-scale));
	--card-font-size-description: calc(18px * var(--card-scale));
	--card-font-size-comment: calc(14px * var(--card-scale));

	--card-font-family-name-variant: "Benevolent Maldness", "Belligerent Madness";
	--card-font-family-description-comment: "Bahnschrift";

	--card-text-border-size: calc(1.25px * var(--card-scale));
	--card-text-border-blur: calc(0.6px * var(--card-scale));
	--card-text-border-color: black;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #222;
		color: white;
	}
}

body, input, select, option {
	font-family: var(--card-font-family-description-comment);
}

p {
	margin: 0;
}

#container {
	display: flex;
	flex-direction: row;
}

#infoEditable {
	display: flex;
	flex-direction: column;
}

#infoCardStats {
	display: flex;
	flex-direction: row;
}
#infoCardStats .cardStat {
	width: 2.5em;
	height: 1.25em;
}
#infoCardStats #infoCardStatuses {
	font-family: var(--card-font-family-name-variant);
	font-size: var(--card-font-size-stat);
	height: 1.25em;
	text-align: center;
	flex-grow: 1;
}

.cardSized {
	width: var(--card-width) !important;
	height: var(--card-height) !important;
	min-width: var(--card-width) !important;
	min-height: var(--card-height) !important;
}

#canvas {
	margin-right: 10px;
}

.textOutline {
	text-shadow: calc(var(--card-text-border-size)) 0 var(--card-text-border-blur) var(--card-text-border-color), calc(var(--card-text-border-size) * -1) 0 var(--card-text-border-blur) var(--card-text-border-color), 0 var(--card-text-border-size) var(--card-text-border-blur) var(--card-text-border-color), 0 calc(var(--card-text-border-size) * -1) var(--card-text-border-blur) var(--card-text-border-color), calc(var(--card-text-border-size) * 0.7071) calc(var(--card-text-border-size) * 0.7071) var(--card-text-border-blur) var(--card-text-border-color), calc(var(--card-text-border-size) * -0.7071) calc(var(--card-text-border-size) * -0.7071) var(--card-text-border-blur) var(--card-text-border-color), calc(var(--card-text-border-size) * 0.7071) calc(var(--card-text-border-size) * -0.7071) var(--card-text-border-blur) var(--card-text-border-color), calc(var(--card-text-border-size) * -0.7071) calc(var(--card-text-border-size) * 0.7071) var(--card-text-border-blur) var(--card-text-border-color);
}

.cardText {
	text-align: center;
	max-width: var(--card-width);
}

.cardName, .cardTypeVariant, .cardStat {
	font-family: var(--card-font-family-name-variant);
	font-size: var(--card-font-size-name);
	--card-text-border-size: calc(3px * var(--card-scale));
}
.cardTypeVariant {
	font-size: var(--card-font-size-variant);
}
.cardStat {
	font-size: var(--card-font-size-stat);
}

.cardDesc, .cardComment {
	font-family: var(--card-font-family-description-comment);
	font-size: var(--card-font-size-description);
}
.cardComment {
	font-size: var(--card-font-size-comment);
	line-height: 1.0;
}

.color_battlecry_deathrattle {
	color: #787878;
}
.color_showstopper {
	color: #00efff;
}
.color_overdrive {
	color: #f1c03c;
}
.color_burst {
	color: #f66aea;
}

#renderCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;

	/* Hide on screen */
	/*opacity: 0;
	pointer-events: none;*/
}

#renderCardStatuses {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;

	/* No need to worry about scaling the gap with this... */
	scale: var(--card-scale);
}